* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.active {
  background-color: blue;
  border-radius: 8px;
  padding: 5px 10px;
}
